<form *ngIf="showAddTask" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" [ngClass]="{'error-input': textValidation.error}" name="text" id="text" [(ngModel)]="text" (change)="handleTextChange()" placeholder="Add task" />
        <div *ngIf="textValidation.error" class="error-message">{{textValidation.message}}</div>
    </div>
    <div class="form-control">
        <label for="day">Day & time</label>
        <input type="datetime-local" [ngClass]="{'error-input': dayValidation.error}" name="day" id="day" [(ngModel)]="day" (change)="handleDayChange()" placeholder="Add day & time" /> 
        <div *ngIf="dayValidation.error" class="error-message">{{dayValidation.message}}</div>
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Reminder</label>
        <input type="checkbox" name="reminder" id="reminder" [(ngModel)]="reminder" />
    </div>
    <input type="submit" value="Save Task" class="btn btn-block" />
</form>